/** 自定义样式 */
.theme-light .ant-modal-mask {
    background-color: rgba(0, 0, 0, 0.5) !important;
}
.theme-dark .ant-modal-mask {
    background-color: rgba(255, 255, 255, 0.2) !important;
}

.ant-modal {
    max-height: calc(100% - 200px) !important;
    overflow: auto;
}
.ant-modal-body {
    height: calc(100% - 55px) !important;
    overflow: auto;
}